<app-adminheader></app-adminheader>
<div class="container">
    <h1>User Management</h1>
    <div class="search-bar">
      <input type="text" [(ngModel)]="searchTerm" placeholder="Search by name" />
      <button (click)="searchUsers()">Search</button>
    </div>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of filteredUsers">
          <td>{{ user.Id }}</td>
          <td>{{ user.Name }}</td>
          <td>{{ user.Email }}</td>
          <td>{{ user.PhnNo }}</td>
          <td>{{ user.Role }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  