<header class="header">
        <div class="header-container">
          <div class="logo">
            <a routerLink="/Home" routerLinkActive="active">
              <img src="https://e7.pngegg.com/pngimages/584/779/png-clipart-public-transport-bus-service-travel-transit-bus-bus-logo-angle-hat.png" alt="Company Logo">
            </a>
            <small class="cname"><b>Bus Travels</b></small>
          </div>
          <nav class="nav">
            <ul>
              <li><a routerLink="/Home" routerLinkActive="active">Home</a></li>
              <li><a routerLink="/mytickets" routerLinkActive="active">My Tickets</a></li>
              <li> <button class="btn btn-danger" (click)="logout()">Logout</button></li>
            </ul>
          </nav>
        </div>
      </header>
      